<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbvqccyz_k_bs_okZ_v_GL6JUc-ROKylg</string>
	<key>GCM_SENDER_ID</key>
	<string>870633292356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeRideMobile</string>
	<key>PROJECT_ID</key>
	<string>saferideplus-62df1</string>
	<key>STORAGE_BUCKET</key>
	<string>saferideplus-62df1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870633292356:ios:51c58e383d22e5a9953211</string>
</dict>
</plist>